@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.title {
  text-align: center;
  font-size: 75px;
  background: linear-gradient(to right, #116ad2 0%, #4c7fea 100%);
  font-family: Anton;
  border-radius: 40px;

}
.img {
  float: right;
  padding-right: 100px;
  padding-bottom: 100px;
}
.img2 {
  float: left;
  display: inline-block;
  width: 30%;

  padding-right: 55px;
}
.mini {
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to right, #116ad2 0%, #4c7fea 100%);
  text-align: center;
  font-family: Anton;
  border-radius: 40px;
  width: 1000px;
  float: left;


}
.text {
  font-style: normal;
  text-align: center;
  font-size: 10px;
  background:#116ad2 ;
  font-family: Anton;
  border-radius: 40px;
  padding: 10px;
  float: left;
  width: 65%;
  display: inline-block;

  width: 750px;
  margin-top: 80px;
}
img {
  width: 600px;
  height: 400px;
  padding-top: 5vh;
  padding-left: 5vh;
}
body {
  background-image: url("img2/bg.png");
  background-repeat: repeat-y;

}
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Anton;
}

li a:hover:not(.active) {
  background-color: dark-grey;
}

.active {
  background-color: #116ad2;
}
.a {
  animation-name: aa;
  animation-duration: 5s;
  animation-iteration-count: 1;

}
@keyframes aa {

    0%{
    transform: rotateX(-90deg);
  }

}
div.gallery {
  margin: auto;
  float: top;
  width: 180px;
  text-align: center;

}

div.gallery:hover {

}

div.gallery img {
  width: 100px;
  height: 130px;


}

div.desc {
  margin: auto;
  padding: 40px;
  text-align: center;
  font-family: anton;
  text-align: center;
  background: #116ad2;
  border-radius: 40px;
  width: 500px
}
